<h3>Welcome to RunSched</h3>
<p>Begin creating your very own custom race training schedules today!</p>
<% if user_signed_in? %>
  <p><%= link_to 'My schedules', schedules_path, class: "btn btn-primary" %></p>
  <p><%= link_to 'Create a schedule', new_schedule_path, class: "btn btn-primary"%></p>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary"%></p>
  <p><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %></p>
<% end %>
