  <h3>How many days for each activity?</td>
<table class="table table-striped">
  <tr>
    <td></td>
    <td><b>Full Marathon</b></td>
    <td><b>Half Marathon</b></td>
    <td><b>10K Race</b></td>
    <td><b>5k Race</b></td>
  </tr>
  <tr>
    <td><b>short run</b></td>
    <td>2 days</td>
    <td>2 days</td>
    <td>1 day</td>
    <td>1 day</td>
  </tr>
  <tr>
    <td><b>medium run</b></td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
  </tr>
  <tr>
    <td><b>long run</b></td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
  </tr>
  <tr>
    <td><b>rest</b></td>
    <td>2 days</td>
    <td>2 days</td>
    <td>3 days</td>
    <td>3 days</td>
  </tr>
  <tr>
    <td><b>cross train</b></td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
    <td>1 day</td>
  </tr>
</table>
