<div class="row">
  <div class="form_container">
    <h1>New Schedule</h1>
    <div class="well create_well main_well col-md-6">
      <%= render 'training_table' %>
    </div>
    <div class="well create_well main_well col-md-6">
      <%= render 'form' %>
    </div>
  </div>
</div>
