<h1><%= @schedule.name %></h1>

<table class="table-bordered table-striped schedule-table">
  <tr>
    <td><b>Week</b></td>
    <td><b>Monday</b></td>
    <td><b>Tuesday</b></td>
    <td><b>Wednesday</b></td>
    <td><b>Thursday</b></td>
    <td><b>Friday</b></td>
    <td><b>Saturday</b></td>
    <td><b>Sunday</b></td>
  </tr>
  <% @schedule.weeks.order(:number).each do |week| %>
    <% if week.days.any? %>
      <tr>
        <td><b><p class="week_number"><%= week.number %><p></b></td>
        <% week.days.order(:date).each do |day| %>
          <%= render day %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
    
<%= link_to 'Edit', edit_schedule_path(@schedule) %> 
