<td>
  <%= div_for day do %>
    <p><em><%= day.date.strftime('%m/%d') %></em></p>
    <% if day.completed? %>
      <p class="activity"><b><%= link_to day.activity, mark_completed_path(day), remote: true, class: 'completed' %></b></p>
    <% else %>
      <p class="activity"><b><%= link_to day.activity, mark_completed_path(day), remote: true %></b></p>
    <% end %>
  <% end %>
</td>
